@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html {
		-webkit-tap-highlight-color: transparent;
	}
}

@layer utilities {
	.full-w-container {
		@apply flex w-screen justify-center px-10-safe;
	}
	.max-w-container {
		@apply w-full max-w-screen-2xl;
	}
}

/* @media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
} */
